<style>
    .nav-item {
        /* Убираем выравнивание текста по центру */
        text-align: left;
    }

    .nav-link {
        display: inline-block;
        color: black;

    }
</style>

<div  th:fragment="header" class="list">
    <header class="d-flex justify-content-start align-items-center py-2"> <!-- Изменено на justify-content-start -->
        <ul   class="nav col-12 col-md-auto mb-2 justify-content-between mb-md-0">
            <li><a class="nav-item nav-link link-body-emphasis active" href="/">Кино</a></li>
            <li><a class="nav-item nav-link link-body-emphasis" href="/theaters">Театры</a></li>
            <li><a class="nav-item nav-link link-body-emphasis" href="/about">Концерты</a></li>
        </ul>
    </header>
</div>
